JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

POSTGRES_USER=sanosysalvos
POSTGRES_PASSWORD=sanosysalvos2026
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sanosysalvos_db

PETS_SERVICE_URL=http://pets-service:8001
GEO_SERVICE_URL=http://geo-service:8002
MATCH_SERVICE_URL=http://match-service:8003
NOTIFICATIONS_SERVICE_URL=http://notifications-service:8004
